torch==1.13.0
torchvision
cuda-python==11.7.1
nvidia-cuda-nvcc-cu11==11.7.99
tensorboard
torch-fidelity 
sentencepiece
cssutils
accelerate
openai
albumentations 
opencv-python 
pudb 
imageio 
imageio-ffmpeg 
pytorch-lightning 
omegaconf 
test-tube 
streamlit
einops 
protobuf 
torchmetrics
kornia
transformers==4.30.2
yacs
inflect
Cython
PyYAML
tqdm
pyrr
wxPython==4.1.1
git+https://github.com/openai/CLIP.git 